# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# Local env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor / OS
.idea
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db

# Vite
*.local
